name: Bionic RAW SSH CI

on:
  push:
    branches: [ main ]
    paths: '.github/workflows/bionic_raw.yml'
  workflow_dispatch:

env:
  PAT: ${{ secrets.GH_TOKEN }}

jobs:
  ssh2runner:
    runs-on: ubuntu-18.04

    steps:
      - uses: actions/checkout@main
      - name: Set Git Configs & Secrets
        uses: rokibhasansagar/custom_workflows/git_config@main
      - name: SSH Keepalive
        uses: rokibhasansagar/custom_workflows/ssh_keepalive@main
      - name: NGROK Session
        continue-on-error: true
        run: curl -sL https://gist.github.com/rokibhasansagar/077b66b16cd50e50e5ad9489084dc926/raw/ngrok2actions.sh | bash
        env:
          NGROK_TOKEN: ${{ secrets.NGROK1_TOKEN }}
          NGROK_REGION: eu
          SSH_PASSWORD: ${{ secrets.SSH_PASSWORD }}
          TELEGRAM_BOT_TOKEN: ${{ secrets.NGBOT_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.NGBOT_CHAT }}
          REPO_PURPOSE: "Bionic RAW SSH Runner"
      - name: Empty
        continue-on-error: true
        timeout-minutes: 350
        run: |
          while true; do
            printf "." && sleep 2m
          done
      - name: Self Looping
        continue-on-error: true
        run: |
          if [[ -f /tmp/LOOP ]]; then
            curl -X POST --header "Authorization: token ${PAT}" https://api.github.com/repos/${GITHUB_REPOSITORY}/actions/workflows/bionic_raw.yml/dispatches -d '{"ref":"main"}'
          fi
