name: Bionic RAW SSH CI

on:
  workflow_dispatch:

jobs:
  ssh2runner:
    runs-on: ubuntu-18.04

    steps:
      - uses: actions/checkout@main

      - name: Set Git Configs & Secrets
        run: |
          git config --global user.email ${{ secrets.GitHubMail }}
          git config --global user.name ${{ secrets.GitHubName }}
          git config --global color.ui true
          git config --global credential.helper store
          echo "https://${{ secrets.GitHubName }}:${{ secrets.GH_TOKEN }}@github.com" > ~/.git-credentials
      - name: NGROK Session with KeepAlive
        continue-on-error: true
        run: |
          curl -sL https://gist.github.com/rokibhasansagar/077b66b16cd50e50e5ad9489084dc926/raw/ssh_keepalive.sh | bash
          curl -sL https://gist.github.com/rokibhasansagar/077b66b16cd50e50e5ad9489084dc926/raw/ngrok2actions.sh | bash
        env:
          NGROK_TOKEN: ${{ secrets.NGROK1_TOKEN }}
          NGROK_REGION: eu
          SSH_PASSWORD: ${{ secrets.SSH_PASSWORD }}
          TELEGRAM_BOT_TOKEN: ${{ secrets.NGBOT_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.NGBOT_CHAT }}
          REPO_PURPOSE: "Bionic RAW SSH Runner"
      - name: Empty
        continue-on-error: true
        timeout-minutes: 350
        run: |
          while true; do
            printf "." && sleep 2m
          done
      - name: Self Looping
        continue-on-error: true
        run: |
          curl -X POST --header "Authorization: token ${{ secrets.GH_TOKEN }}" https://api.github.com/repos/${GITHUB_REPOSITORY}/actions/workflows/bionic_raw.yml/dispatches -d '{"ref":"main"}'
