name: Focal Slim SSH CI

on:
  push:
    branches: [ main ]
    paths: '.github/workflows/focal.yml'
  workflow_dispatch:

env:
  PAT: ${{ secrets.GH_TOKEN }}

jobs:
  ssh2runner:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@main
      - name: Set Git Configs & Secrets
        uses: rokibhasansagar/custom_workflows/git_config@main
      - name: SSH Keepalive
        uses: rokibhasansagar/custom_workflows/ssh_keepalive@main
      - name: NGROK Session
        continue-on-error: true
        run: curl -sL https://gist.github.com/rokibhasansagar/077b66b16cd50e50e5ad9489084dc926/raw/ngrok2actions.sh | bash
        env:
          NGROK_TOKEN: ${{ secrets.NGROK4_TOKEN }}
          NGROK_REGION: us
          SSH_PASSWORD: ${{ secrets.SSH_PASSWORD }}
          TELEGRAM_BOT_TOKEN: ${{ secrets.NGBOT_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.NGBOT_CHAT }}
          REPO_PURPOSE: "Focal SSH Runner"
      - name: Slim Environment
        continue-on-error: true
        run: curl -sL https://github.com/rokibhasansagar/slimhub_actions/raw/main/cleanup.sh | bash
      - name: Empty
        continue-on-error: true
        timeout-minutes: 340
        run: |
          while true; do
            printf "." && sleep 2m
          done
      - name: Self Looping
        continue-on-error: true
        run: |
          curl -X POST --header "Authorization: token ${PAT}" https://api.github.com/repos/${GITHUB_REPOSITORY}/actions/workflows/focal.yml/dispatches -d '{"ref":"main"}'
